* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: url('https://images.unsplash.com/photo-1629276300935-8177a50f2626?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') bottom center;
  background-size: cover;
  background-repeat: repeat;
  /* background: linear-gradient(#c9e3f8, #c5eef4); */
}

body,html {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

body h1 {
  font-size: 12rem;
  color: #fff;
  text-shadow: 2px 2px 3px #000;
  position: absolute;
  top: 8rem;
  letter-spacing: -8px;
}

.keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  font-size: 1.5rem;
  padding: 1rem 0rem 1rem 2rem;
  transition: all .07s ease;
  width: 14rem;
  height: 12rem;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.key:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.4);
}

.playing {
  transform: scale(1.1);
  border-color: #ffffff;
  box-shadow: 0 0 1rem #ffffff;
}

.key p {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: left;
}

.sound {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #a0bcfaae;
  text-align: left;
}

@media (max-width: 700px) {
  body h1 {
    font-size: 10rem;
    top: 16rem;
  }
  
  .keys {
    gap: 20px;
  }

  .key{
    width: 12rem;
    height: 10rem;
  }
}

@media (max-width: 500px) {
  body h1 {
    font-size: 8rem;
    top: 20rem;
  }
  
  .keys {
    gap: 20px;
  }

  .key{
    width: 10rem;
    height: 8rem;
  }

  .key p {
    font-size: 3rem;
  }
}